canvas{
    background-color: #180a2d;
    border: 1px solid rgb(25, 2, 27);
}
body{
    font-size: 70px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-image: url("images/background.png");
    background-size: cover;
}
#score{
    font-size: 40px;
}
